/*-------Fonts-------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* common styles or utilities */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*--------- Log in
--------------------------------- */
.login{
    display: flex;
    
    background-color: rgb(109, 22, 190);
}
.title{
    display: grid;
    
}
.watch-live{
    margin-left: 156px;
}

h1{
    width: 485px;
    height: 230px;
    color: white;
   margin: 207px 102px 30px 156px;
    font-weight: bold;
font-size: 64px;
font-family: 'Poppins';


}
.banner img{
    width: 556.01px;
height: 438px;
margin-top: 153px;
margin-right: 140px;

}
.banner:hover {
    transform: rotate(30deg);
            
            transition: transform 0.1s linear 1s;
    
}

/*--------- Players Informations
--------------------------------- */
.container{
    
    margin: 70px 210px 0 180px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 330px;
height: 474px;

}
.player-pic img{
    width: 300px;
height: 256px;
margin-bottom: 16px;

}


.player-name{
    font-family: 'Poppins';
    width: 300px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.player-detail{
    font-family: 'Poppins';
    font-size: 16px;
    color: #6C6C6C;
    Height : 104px;
    width: 300px;

}
/*--------- COPA Highlights
--------------------------------- */
.about-copa{
    display: flex;
    flex-direction: row;
    
}
.copa-info{
    margin-right: 66px;
    padding-top: 224px;
}
.copa-highlights{
    width: 469px;
height: 120px;
font-family: 'Poppins';
font-weight: bold;
font-size: 48px;

}

.copa-detail{
    width: 404px;
height: 113px;
font-family: 'Poppins';
font-size: 16px;
color: #6C6C6C;
}

.copa-info h3{
    font-family: 'Poppins';
    font-weight: 500;
font-size: 16px;

}

.watch-copa, .watch-live{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #E02C6D;
    width: 172px;
height: 44px;
padding: 10px 24px;

    
}
.watch-copa, .watch-live h3{
    font-weight: 500;
font-size: 16px;
font-family: 'Poppins';
width: 92px;
height: 24px;
color: #FFFFFF;
margin: 10px 8px 10px 24px;




}
.watch-icon{
    width: 16px;
    height: 14px;
    color:  #FFFFFF;
    
}
.copa-banner img{
    width: 567px;
height: 427px;
padding-top: 165px;
} 
/*--------- Logo and Icons
--------------------------------- */
.football-logo img{
    width: 483.87px;
height: 110px;
margin: 158px 481.13px 20px 475px;
}
.icon{
    margin-right:   14px;
}

/*--------- Footer
--------------------------------- */

footer h3{
    
font-size: 18px;
font-style: normal;
font-weight: 400px;
margin-top: 20px;

}
/* --------Media Queries
------------------------- */

/*--------- Mobile Devices
---------------------------- */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players, .about-copa, {
    
        grid-template-columns: repeat(1,1fr);
        }
        .player, .copa-info{
            flex-direction: column;
        }
    }

    /*--------- Tablet Devices 
---------------------------*/

@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .about-copa{
        grid-template-columns: repeat(2,1fr);
    }
}
